name: CI

on:
  push:
    branches:
    - main
    tags:
      - "*"

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Create Package
        uses: BigWigsMods/packager@v2.5.1
        env:
          WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}
