name: CI

on:
  push:
    branches:
    - main
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-latest
    
    steps:
      - name: Clone Project
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      
      - name: Package and Release
        uses: BigWigsMods/packager@v2.5.1
        env:
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
          WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}
